.image-carousel-container {
    width: 60%;
    margin: 20px auto;
}

.carousel-image {
    max-width: auto;
    max-height: 40vh;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
}

.modal-image {
    width: 100%;
    border-radius: 10px;
}
