.toggle {
    position: fixed;
    top: 16vh;
    left: 1vw;
    min-width: 4.5vw;
    height: 5vh;
    color: #ffffff;
    font-size: 18px;
    border-radius: 2vw;
    border: none;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
